@import "tailwindcss";
.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@layer utilities {
	@keyframes scrollX {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-50%);
		}
	}

	.animate-scroll-x {
		animation: scrollX 30s linear infinite;
	}
}
body {
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}